body{
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    padding: auto;
}

header {
    padding: 10px;
    color: white;
    background-color: #000D8C;
}

footer {
    margin-top: 64px;
    color: white;
    background-color: #000D8C;
    padding-left: 10px;
    padding-right: 10px;
}

/*Style halaman Result*/
.button {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    border-radius: 12px;
    background-color: white; /* Green */
    border: 2px solid #000D8C;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 32px;
    margin-top: 32px;
}
  
.button:hover {
    background-color: #000D8C;
    color: white;
}



mark{
    background-color: #FFF173;
    color: black;
    font-weight: bold;
}

.summary{
    margin: 32px;
}

.summary p{
    padding-left: 24px;
}

.tableview{
    margin: 32px;
}

.tableview table{
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.tableview th, td {
    text-align: left;
    padding: 16px;
}

.tableview th {
    background-color: #cbdcf8;
}

.tableview tr:nth-child(even) {
    background-color: #f2f2f2;
}

.chart {
    margin: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

/*----------------------------------------------------------*/