body{
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    padding: auto;
}

header .blue_rect {
    padding: 10px;
    background-color: #000D8C;
}

header .title{
    padding: 20px 200px 20px 200px ;
    background-color: #CFEBFF;
    text-align: center;
}

header span{
    color: #000D8C;
}

header .big-title{
    line-height: 120%;
}

header .desc{
    padding-top: 2px;
    line-height: 70%;
}

.row {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
}
  
.column {
    flex: 50%;
}

#info {
    padding: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 60%;
    border-radius: 30px;
    border: 1px solid#CFEBFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 24px;
    text-align: center;
}

footer {
    margin-top: 64px;
    color: white;
    background-color: #000D8C;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

